# Env Variables
python-dotenv

# LangChain
langchain_openai
langchain_core
langchain_community

# APIs
langserve
fastapi
uvicorn
sse_starlette

ipykernel

# DB
chromadb

# Frontend Interface
panel
streamlit